<div *ngIf="match" class="row" style="border: solid whitesmoke 1px; margin: 10px; padding: 5px;">
    <span class="col-md-12" style="margin-top: 2px;"></span>
    <app-country [code]="match.countryCode1" class="col-sm-4"></app-country>
    <span class="col-sm-2">{{match.score1}}</span>
    <span class="col-sm-2">{{match.score2}}</span>
    <app-country [code]="match.countryCode2" class="col-sm-4"></app-country>
    <span class="col-sm-12" *ngIf="match.winGuesser">{{match.winGuesser}} acertou!</span>
</div>
