<div class="container-fluid">
  <div class="row">
      <div class="col-sm-4"></div>

      <div class="col-sm-4">
        <h1>
          BOLÃO DA COPA
        </h1>
        <img alt="World Cup Logo" src="assets/cup_logo.png">
      </div>
      
      <div class="col-sm-4"></div>
      
      <app-next-match class="col-sm-12"></app-next-match>
  
      <app-user class="col-sm-12"></app-user>
 
      <div class="col-sm-12" style="background-color: cornflowerblue;">
        <h1 class="col-sm-12">Partidas Anteriores</h1>

        <input type="checkbox" class="form-control" [(ngModel)]="showPreviousMatches" (change)="showPreviousMatchesChange()">
        Mostrar?

        <div class="col-sm-12 row" *ngIf="showPreviousMatches">
          <div *ngFor="let match of previousMatches" class="col-sm-4">
              <app-previous-match [match]="match"></app-previous-match>
          </div>
        </div>
      </div>
  </div>
</div>